<h1><font color="blue"> <%= @guest.name %></font> </h1>

<p>Hi there. My name is <%= @guest.name %> and I am a <%= @guest.occupation %>!</p>







<p>My hobbies include: Sitting in the Rain and 
"burning a match down to my fingertips to feel something, Anything..." 
<- SpiderVerse Movie</p>

<font color="purple", size="6">Favorite Books??</font>
<li>Eloquent Javascript</li>
<li>The Illiad </li>



