<h1>All Episodes</h1>
<h2><%= link_to 'Guests', guests_path %></h2>
<h2><%=link_to 'New', new_appearance_path %></h2>
<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode%></li>
  <% end %>
</ul>
