<h1>The Late Show With Stephen Colbert</h1>

<h2><%= link_to "Guests", guests_path%></h1>
<h2><%= link_to "Episodes", episodes_path%></h1>
<h2><%= link_to "Create New Appearance", new_show_path%></h1>